* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #d45e5e;
}

body {
  color: #212121;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #212121;
}

li {
  list-style-type: none;
}

.cards {
  display: flex;
  padding: 10px 0;
  flex-wrap: wrap;
}

.body {
  min-height: calc(100vh - 265px);
}

.image {
  width: 200px;
  height: 110px;
  border-radius: 10px;
  margin: 10px 10px 10px 0;
}

.image:hover {
  opacity: 0.8;
  transition: ease-in-out 0.2s;
}

.section {
  padding: 0 5%;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}