* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #d45e5ede;
  border-radius: 5px;
}

body {
  color: #212121;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #212121;
}

li {
  list-style-type: none;
}

h2 {
  text-align: left;
  align-self: flex-start;
}

section .body {
  padding: 25px;
}

.cards {
  display: flex;
  padding: 10px 0;
  flex-wrap: wrap;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: start;
}

.image {
  width: 210px;
  height: 310px;
  border-radius: 10px;
  margin: 10px 10px 10px 0;
  object-fit: cover;
}

.image:hover {
  opacity: 0.8;
  transition: ease-in-out 0.2s;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .title {
  color: #fff;
}

.dark-mode .categoria {
  color: #fff;
}

.dark-mode input[type="text"],
.dark-mode input[type="search"] {
  color: #fff;
  background-color: #222;
}
.dark-mode a {
  color: #fff;
}

.dark-mode input[type="text"]::placeholder,
.dark-mode input[type="search"]::placeholder {
  color: #fff;
  opacity: 1;
}